<div class="row">
  <h2>
      Great! Do you have any interventions to add? Otherwise continue to save the chart.
      <button type="button" class="btn btn-info btn-lg pull-right btn-sumome" data-toggle="modal" data-target="#myModal" style="margin-top: 15px; margin-right: 75px;">
        Add intervention
      </button>
  </h2>
</div>
<%= render "charts/partials/controls" %>
<div class="row">
  <h3>Patient name:  <span class="patient-name"><%= @chart.user.name %></span></h3>
  <div class="row" id="session-graph-container" class="graph--wrapper" data-type="Cholesterol"><div id="graph"></div><div class="chart-gauge"></div></div>
</div>




