<h2>[Option Steps Go Here]</h2>
<h3>Patient name:  <span class="patient-name"><%= session[:chart_params]["name"] %></span></h3>
<%= line_chart construct_cholesterol_chart_from_session(session[:entry_params]), id: "users-chart", height: "500px", discrete: true, library: {curveType: "none", pointSize: 5, crosshair: { trigger: 'both' }} %>

