  <div class="row">
    <div class="col-sm-6 col-sm-offset-4">
      <div class="row">
        <label  class="pull-right" style="margin-left: 10px;"><input name="triglycerides_ldl" type="checkbox" checked class="pull-right"  style="margin-left: 10px;"> Triglycerides + LDL</label>
        <label  class="pull-right"  style="margin-left: 10px;"><input name="cholesterol_hdl" type="checkbox" checked class="pull-right"  style="margin-left: 10px;"> Cholesterol + HDL</label>
      </div>
      <div class="row">
        <label class="radio-inline pull-right" style="margin-left: 10px;"><input class="pull-right" type="radio" name="optradio" disabled>Other indicators</label>
        <label class="radio-inline pull-right"><input class="pull-right" type="radio" name="optradio">Your &lt;3 ratio</label>
        <label class="radio-inline pull-right"><input class="pull-right" type="radio" name="optradio" checked>All</label>
      </div>
    </div>
  </div>
