<div class="lifestyle-form-wrapper">
  <%= render "shared/modals/tabs/forms/create_intervention", :intervention_type => "lifestyle" %>
  <%= render "shared/modals/tabs/forms/edit_intervention", :intervention_type => "lifestyle" %>
</div>
