<!-- <div class="lifestyle-form-wrapper">
  <form accept-charset="UTF-8"  action="/interventions" data-remote="true" method="post" id="intervention-data">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" name="index" value="1">
    <input type="hidden" name="intervention[1][type]" value="lifestyle">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-1">
        <div class="col-sm-4">
          <label for="intervention[1][title]" class="pull-right">Lifestyle</label>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <input type="text" class="form-control js--intervention--title" name="intervention[1][title]" placeholder="(ie: Diet, exercise...)">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-1">
        <div class="col-sm-4">
          <label for="intervention[1][description]" class="pull-right">Description</label>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <input type="text" class="form-control" name="intervention[1][description]" placeholder="(ie: gluten-free, low-carb, gym...)">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-5">
        <label for="intervention[start]">Start date</label>
        <input type="date" class="form-control" name="intervention[1][start]">
      </div>
      <div class="form-group col-sm-5 col-sm-offset-1">
        <div class="row">
          <label for="intervention[end]">End date</label>
          <input type="date" class="form-control intervention-end-date" name="intervention[1][end]">
        </div>
        <div class="row">
          <div class="checkbox">
            <label><input type="checkbox" value="" id="end-date-current">Current</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn submit-and-continue btn-link pull-right" style="margin-right: 25px;"><span class="fa fa-plus text-success"></span> Click to add another intervention</button>
    </div>
    <div class="row">
      <button type="submit" class="submit-and-exit btn btn-primary pull-right">Save &amp; Exit</button>
      <button type="submit" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
    </div>
  </form>
  <form accept-charset="UTF-8" data-remote="true" method="PUT" id="edit-intervention-data" class="hide" data-edit-type="lifestyle">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" name="edit_intervention[type]" value="lifestyle">
    <input type="hidden" name="edit_intervention[id]" value="">
    <input type="hidden" name="edit_intervention[index]" value="">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-1">
        <div class="col-sm-4">
          <label for="edit_intervention[title]" class="pull-right">Lifestyle</label>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <input type="text" class="form-control" name="edit_intervention[title]" placeholder="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-1">
        <div class="col-sm-4">
          <label for="edit_intervention[description]" class="pull-right">Description</label>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <input type="text" class="form-control" name="edit_intervention[description]" placeholder="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-5">
        <label for="edit_intervention[start]">Start date</label>
        <input type="date" class="form-control" name="edit_intervention[start]">
      </div>
      <div class="form-group col-sm-5 col-sm-offset-1">
        <div class="row">
          <label for="edit_intervention[end]">End date</label>
          <input type="date" class="form-control intervention-end-date" name="edit_intervention[end]">
        </div>
        <div class="row">
          <div class="checkbox">
            <label><input type="checkbox" value="" id="end-date-current">Current</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-link pull-right update-and-continue" style="margin-right: 25px;"><span class="fa fa-refresh text-success"></span> Update</button>
    </div>
    <div class="row">
      <button type="submit" class="update-and-exit btn btn-primary pull-right">Update &amp; Exit</button>
      <button type="submit" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
    </div>
  </form>
</div> -->
<div class="lifestyle-form-wrapper">
  <%= render "shared/modals/tabs/forms/create_intervention", :intervention_type => "lifestyle" %>
  <%= render "shared/modals/tabs/forms/edit_intervention", :intervention_type => "lifestyle" %>
</div>

