<div class="medication-form-wrapper">
  <%= render "shared/modals/tabs/forms/create_intervention", :intervention_type => "medication" %>
  <%= render "shared/modals/tabs/forms/edit_intervention", :intervention_type => "medication" %>
</div>
