<h2>You're all set!</h2>
<h3>A <i><em><%= @chart.type.underscore.humanize.titleize %></em> Data Chart</i> for the patient <strong class="patient-name"><%= @chart.user.name %></strong> has been created.</h3>
[OPTIONAL STEPS GO HERE]
<div class="row" id="vitamin-d-session-graph" class="graph--wrapper" data-type="vitamin_d"><div id="graph"></div></div>
