[OPTION STEPS GO HERE]
<div class="row" id="db-graph-container" class="graph--wrapper" data-type="calcium" data-url="charts/<%= params[:id] %>"><div id="graph" data-name="Calcium Chart: <%= @chart.user.name %>"></div></div>
