<%= render "charts/partials/controls" %>
<div class="row" id="db-graph-container" class="graph--wrapper" data-type="cholesterol"><div id="graph" data-name="Cholesterol Chart: <%= @chart.user.name %>"></div><div class="chart-gauge"></div></div>