[OPTION STEPS GO HERE]
<div class="row" id="db-graph-container" class="graph--wrapper" data-type="diastolic_blood_pressure" data-url="charts/<%= params[:id] %>"><div id="graph" data-name="Diastolic Blood Pressure Chart: <%= @chart.user.name %>"></div></div>
