[OPTION STEPS GO HERE]
<div class="row" id="db-graph-container" class="graph--wrapper" data-type="hemoglobin_a1c" data-url="charts/<%= params[:id] %>"><div id="graph" data-name="Hemoglobin A1C Chart: <%= @chart.user.name %>"></div></div>
