[OPTION STEPS GO HERE]
<div class="row" id="db-graph-container" class="graph--wrapper" data-type="uric_acid" data-url="charts/<%= params[:id] %>"><div id="graph" data-name="Uric Acid Chart: <%= @chart.user.name %>"></div></div>
