[OPTION STEPS GO HERE]
<div class="row" id="db-graph-container" class="graph--wrapper" data-type="vitamin_b12" data-url="charts/<%= params[:id] %>"><div id="graph" data-name="Vitamin B12 Chart: <%= @chart.user.name %>"></div></div>
