  <div class="row">
    <button class="btn-slim btn-dark btn-block btn-header">
      Select Your View
    </button>
  </div>
  <div class="row">
    <% if @chart.type == "Cholesterol" %>
      <div class="col-xs-12 chart-controls">
        <div class="radio">
          <label><input type="radio" name="optradio" value="all" checked>All</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optradio" value="gauge">Your &lt;3 ratio</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optradio" value="other">Other indicators</label>
        </div>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
    <% end %>
  </div>
  <div class="row intervention-controls">
    <div class="col-xs-12">
      <div class="checkbox disabled">
        <label><input name="visible_interventions" type="checkbox" checked value="medication">Medication</label>
      </div>
      <div class="checkbox">
        <label><input name="visible_interventions" type="checkbox" checked value="lifestyle">Lifestyle</label>
      </div>
      <div class="checkbox">
        <label><input name="visible_interventions" type="checkbox" checked value="event">Events</label>
      </div>
    </div>
  </div>
