  <div class="row" style="margin-top: 25px;">
    <div class="col-sm-4 pull-right" style=" margin-right: 75px; border: 2px dashed #51E800; padding-right: 85px; padding-top: 15px; padding-bottom: 25px; border-radius: 3px;">
      <p class="text-right" style="margin-right: 35px;">Select Your View Below</p>
      <div class="row" style="margin-top: 7.5px;">
        <label class="radio-inline pull-right" style="margin-left: 10px;"><input class="pull-right" type="radio" name="optradio" value="other">Other indicators</label>
        <label class="radio-inline pull-right"><input class="pull-right" type="radio" name="optradio" value="gauge">Your &lt;3 ratio</label>
        <label class="radio-inline pull-right"><input class="pull-right" type="radio" name="optradio" value="all" checked>All</label>
      </div>
      <div class="row" style="margin-top: 7.5px;">
        <label  class="pull-right"  style="margin-left: 10px;"><input name="visible_interventions" type="checkbox" checked class="pull-right"  style="margin-left: 10px;" value="procedure"> Procedure</label>
        <label  class="pull-right"  style="margin-left: 10px;"><input name="visible_interventions" type="checkbox" checked class="pull-right"  style="margin-left: 10px;" value="lifestyle"> Lifestyle</label>
        <label  class="pull-right" style="margin-left: 10px;"><input name="visible_interventions" type="checkbox" checked class="pull-right"  style="margin-left: 10px;" value="medication"> Medication</label>
      </div>
    </div>
  </div>
