<div class="container">
  <div class="row">
    <h1>Choose a Chart</h1>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h2 class="text-center"><%= link_to 'Cholesterol', new_cholesterol_path %></h2>
    </div>
    <div class="col-xs-6">
      <h2 class="text-center"><%= link_to 'Vitamin D', '#', class: 'disabled' %></h2>
    </div>
  </div>
</div>
