<div class="container">
  <div class="row">
    <h1>Choose a Chart</h1>
  </div>
  <div class="row  chart-selector">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <%= image_tag "cholesterol-chart.png", class: "chart-anchor img-responsive" %>
        </div>
      </div>
      <h2 class="text-center"><%= link_to 'Cholesterol', new_chart_path(:type => "cholesterol") %></h2>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <%= image_tag "vitamin-d-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
        </div>
      </div>
      <h2 class="text-center"><%= link_to 'Vitamin D', '#', class: 'disabled' %></h2>
    </div>
  </div>
</div>
