
  <div class="row">
    <h1>Patient name:  <span class="patient-name"><%= @chart.user.name %></span></h1>
  </div>
  <%= render "charts/partials/graph_containers/#{@chart.type.underscore}" %>

  <div class="row">
    <%= link_to "Make Another Chart", root_path, class: "btn btn-primary btn-lg " %>
    <% unless @chart.approved  %>
      <button class='btn-success btn-lg btn pull-right btn-sumome' style="margin-left: 15px;">Approve</button>
    <% end %>
    <button id="export" class="btn-lg btn pull-right btn-primary">Export</button>
  </div>

