<div class="container">
  <div class="row">
    <h1>Patient name:  <span class="patient-name"><%= @chart.user.name %></span></h1>
  </div>
  <%= render "charts/partials/graph_containers/#{@chart.type.underscore}" %>
  
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= link_to "Back", root_path, class: "btn btn-primary btn-lg " %>
      <button id="export" class="btn-success btn-lg btn pull-right">Export</button>
    </div>
  </div>
</div>
