<section class="row dashboard">
  <%= render "shared/widgets/my_patients" %>
  <%= render "shared/widgets/available_charts" %>
  <%= render "shared/widgets/notifications" %>
  <%= render "shared/widgets/messages" %>
</section>

