<div style="width: 21cm; padding: 0, margin: -50px">
<%= line_chart [
  {name: "LDL", data: {
        'Thu 05 Dec 2013' => 143,
        'Tue 20 May 2014' => 198,
        'Mon 12 Jan 2015' => 136,
        'Thu 15 Oct 2015' => 108,
    }},
  {name: "HDL", data: {
        'Thu 05 Dec 2013' => 56,
        'Tue 20 May 2014' => 94,
        'Mon 12 Jan 2015' => 80,
        'Thu 15 Oct 2015' => 75,
    }},
  {name: "TRIGLYCERIDS", data: {
        'Thu 05 Dec 2013' => 195,
        'Tue 20 May 2014' => 167,
        'Mon 12 Jan 2015' => 128,
        'Thu 15 Oct 2015' => 134,
    }}
], id: "users-chart", height: "500px" %>

</div>
