<div class="container">
  <div class="row">
    <h3>Patient name:  <%= @chart.name %></h3>
  </div>
    <%= line_chart construct_saved_chart(@chart.entries), id: "users-chart", height: "500px" %>
  </div>
</div>

