<h1 style="margin-left: 0cm; letter-spacing: 0; text-align: center; font-size: 25px;">Patient name:  <span class="patient-name"><%= @chart.name %></span></h1>

<%= line_chart construct_cholesterol_chart_from_database(@chart.entries), id: "chart-print", height: "500px", discrete: true, library: {curveType: "none", pointSize: 5, crosshair: { trigger: 'both' }}  %>
