<h1 style="margin-left: 0cm; letter-spacing: 0; text-align: center; font-size: 25px;">Patient name:  <span class="patient-name"><%= @chart.name %></span></h1>
<div style="width: 925px; height: 500px;">
  <div class="row" id="db-graph-container"  style="width: 925px; height: 500px;"><div id="graph"></div></div>
</div>

