
//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cosmo variables
@import "bootswatch/yeti/variables";

// Then bootstrap itself
@import "bootstrap";
@import "font-awesome";
// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/yeti/bootswatch";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
// Whatever application styles you have go last
// @import "base";
@import "animate";
h1{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}
h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
td > input{
  border: none;
  background: transparent;
  outline: none !important;
}

#chart-print{
  width: 21cm;
}

.container.copy-paste{
  margin-bottom: 250px;
}

// /*
// Copyright (c) 2010, Yahoo! Inc. All rights reserved.
// Code licensed under the BSD License:
// http://developer.yahoo.com/yui/license.html
// version: 3.1.2
// build: 56
// */
// html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}


// /*
// Mr. Data Converter styles
// */


// html {
//   font-family: Helvetica, Arial;
//   background: #141414 url('../images/background.png') no-repeat;
// }

// body {
//   overflow: hidden;
// }

// #base {
//   padding: 15px;
//   position: relative;
// }




// /*header*/

// #header {

//   color: #FFF;
//   width: 300px;
//   overflow: auto;
// }
// #header a {
//   color: #99FFFF;
// /*  opacity: 0.7;*/
// }

// #header p {
//   color: #CCC;
// }

// #description p {
//   margin-bottom: 18px;
// }

// #header h3 {
//   font-size: 12px;
//   margin: 15px 0 10px 0;
//   padding: 15px 0 0 0;
//   border-top: solid 1px #CCC;
//   text-transform: uppercase;
// }

// h1 {
//   color: #DEDEDE;
//   font-family: palatino, Georgia;
//   font-size: 40px;
//   line-height: 40px;
//   font-weight: bold;
//   margin-bottom: 8px;
//   text-shadow: 1px 1px 3px #000;
// }

// p {
//   font-size: 15px;
//   line-height: 22px;
// }

// /*settings*/
// #settings {

// }


// #settings h5 {
//   font-size: 13px;
//   line-height: 24px;
// }

// #settings p {
//   font-size: 13px;
//   line-height: 24px;
// }


// #settings .settingsGroup p {
//   padding-left: 20px;
// }

/*converter*/

#converter {
  // position: absolute;
  // top: 15px;
  // left: 330px;
  // border-color:#000000 #666666 #666666 #000000;
  // border-style:solid;
  // border-width:2px;
  max-width: 100%;
}


p.dataHeaders{
  height: 30px;
  padding: 15px 15px 10px;
}

.textInputs {

  // background-color: #C9B7C7;
  border: none;
  // color: #664D63;
  // font-family: monospace;
  font-size: 12px;
  min-height: 350px;
  line-height: 18px;
  padding: 10px;
  // text-shadow: #DED4DD 0px 1px 0px;
  // -webkit-box-shadow: #333 1px 1px 10px inset;
  // -moz-box-shadow: #333 1px 1px 10px inset;
}


.groupHeader{
  width: 100%;
  // color: #FFF;
  height: 45px;
  // background-color:#5F255C;
  // background-image: url('../images/header_gradient.png');
}


p.groupHeadline {
  padding: 10px;
}
.groupHeader span.subhead {
  opacity: 0.7;
  font-size: 12px;
}

.groupHeader a {
  color: #FF66FF;
}


#outputGroup {

}

#dataInput {
  max-width: 100%;
}

#dataOutput {
  max-width: 100%;

}
#dataSelector {
  width: 200px;
  line-height: 22px;
  font-size: 16px;
  padding: 2px 0px;
}

#dataSelector option {

}

.activate-copy-paste{
  margin-left: 10px;
  margin-top: 5px;
}


.patient-name{
  text-decoration: underline;
}

#graph-container{
  padding-left: 50px;
}
.chart{
  display: block;
  margin: 0 auto;
}

path{
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
    // cursor: pointer;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    // font-size: 16px;
    // font-weight: bold;
    // text-anchor: middle;
    // font-family: 'Montserrat', sans-serif !important;
    // cursor: pointer;
}

.intervention-text{
  padding: 50px;
  // font-family: 'Montserrat', sans-serif !important;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  // background-color: red;
  // text-decoration: underline;
}
.tick{
  font-size: 10px;
}

tr{
  position: relative;

  td{
    position: relative;
  }

  span.fa{
    position:absolute;
    top: 8.5px;
    left: -5px;
    cursor: pointer;

    &:hover, &:focus{
      color: darken(red, 15%);
    }
  }
}

.chart-selector{
  margin-top: 75px;
}
.chart-anchor{
  // max-height: 150px;
}

.text-values{
  // font-family: 'Montserrat', sans-serif !important;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
}

// .transform-upward{
//   -ms-transform: translate(5,5); /* IE 9 */
//   -webkit-transform: translate(5,5); /* Chrome, Safari, Opera */
//   transform: translate(5,5);
//   font-family: 'Montserrat', sans-serif !important;
//   font-size: 10px;
//   font-weight: 700;
//   cursor: pointer;
// }
//
.tab-content{
  padding-top: 75px;
  overflow: hidden;
  border-right: 1px solid #e7e7e7;
}

@media (min-width: 768px){
  .modal-dialog{
    width: 768px;
  }
}

.added-interventions{
  min-height: 100px;

  ul{
    li{
      font-size: 10px;
      .added-title{
        font-weight: bold;
      }
      .added-description{
        margin-right: 7.5px;
      }
      .added-dates{
        font-style: italic;
      }
      .fa-pencil{
        cursor: pointer;
      }
    }
  }
}

.submit-and-exit, .update-and-exit{
  margin-right: 35px;
  margin-top: 25px;
}

form#intervention-data, form#edit-intervention-data{
  button.btn-danger.pull-right{
    margin-top: 25px;
    margin-right: 35px;
  }
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.line.above {
  // stroke: #f00;
  stroke-dasharray: 3, 3;
  stroke-width: 1px;
}

.fadeOut#intervention-data{
  display: none;
}
