//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cosmo variables
@import "bootswatch/yeti/variables";

// Then bootstrap itself
@import "bootstrap";
@import "font-awesome";
// Bootstrap body padding for fixed navbar
// body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/yeti/bootswatch";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
// Whatever application styles you have go last
// @import "base";
@import "animate";
@import "components";
@import "auth";
@import "users";
h1{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}
h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
td > input{
  border: none;
  background: transparent;
  outline: none !important;
}

#chart-print{
  width: 21cm;
}

.container.copy-paste{
  margin-bottom: 250px;
}

// /*
// Copyright (c) 2010, Yahoo! Inc. All rights reserved.
// Code licensed under the BSD License:
// http://developer.yahoo.com/yui/license.html
// version: 3.1.2
// build: 56
// */
// html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}


// /*
// Mr. Data Converter styles
// */


// html {
//   font-family: Helvetica, Arial;
//   background: #141414 url('../images/background.png') no-repeat;
// }

// body {
//   overflow: hidden;
// }

// #base {
//   padding: 15px;
//   position: relative;
// }




// /*header*/

// #header {

//   color: #FFF;
//   width: 300px;
//   overflow: auto;
// }
// #header a {
//   color: #99FFFF;
// /*  opacity: 0.7;*/
// }

// #header p {
//   color: #CCC;
// }

// #description p {
//   margin-bottom: 18px;
// }

// #header h3 {
//   font-size: 12px;
//   margin: 15px 0 10px 0;
//   padding: 15px 0 0 0;
//   border-top: solid 1px #CCC;
//   text-transform: uppercase;
// }

// h1 {
//   color: #DEDEDE;
//   font-family: palatino, Georgia;
//   font-size: 40px;
//   line-height: 40px;
//   font-weight: bold;
//   margin-bottom: 8px;
//   text-shadow: 1px 1px 3px #000;
// }

// p {
//   font-size: 15px;
//   line-height: 22px;
// }

// /*settings*/
// #settings {

// }


// #settings h5 {
//   font-size: 13px;
//   line-height: 24px;
// }

// #settings p {
//   font-size: 13px;
//   line-height: 24px;
// }


// #settings .settingsGroup p {
//   padding-left: 20px;
// }

/*converter*/

#converter {
  // position: absolute;
  // top: 15px;
  // left: 330px;
  // border-color:#000000 #666666 #666666 #000000;
  // border-style:solid;
  // border-width:2px;
  max-width: 100%;
}


p.dataHeaders{
  height: 30px;
  padding: 15px 15px 10px;
}

.textInputs {

  // background-color: #C9B7C7;
  border: none;
  // color: #664D63;
  // font-family: monospace;
  font-size: 12px;
  min-height: 350px;
  line-height: 18px;
  padding: 10px;
  // text-shadow: #DED4DD 0px 1px 0px;
  // -webkit-box-shadow: #333 1px 1px 10px inset;
  // -moz-box-shadow: #333 1px 1px 10px inset;
}


.groupHeader{
  width: 100%;
  // color: #FFF;
  height: 45px;
  // background-color:#5F255C;
  // background-image: url('../images/header_gradient.png');
}


p.groupHeadline {
  padding: 10px;
}
.groupHeader span.subhead {
  opacity: 0.7;
  font-size: 12px;
}

.groupHeader a {
  color: #FF66FF;
}


#outputGroup {

}

#dataInput {
  max-width: 100%;
}

#dataOutput {
  max-width: 100%;

}
#dataSelector {
  width: 200px;
  line-height: 22px;
  font-size: 16px;
  padding: 2px 0px;
}

#dataSelector option {

}

.activate-copy-paste{
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 15px;
}


.patient-name{
  text-decoration: underline;
}

#graph-container{
  padding-left: 50px;
}
.chart{
  // display: block;
  // margin: 0 auto;
}

path{
    // stroke: steelblue;
    // stroke-width: 2;
    // fill: none;
    // cursor: pointer;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    // font-size: 16px;
    // font-weight: bold;
    // text-anchor: middle;
    // font-family: 'Montserrat', sans-serif !important;
    // cursor: pointer;
}

.intervention-text{
  padding: 50px;
  // font-family: 'Montserrat', sans-serif !important;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  // background-color: red;
  // text-decoration: underline;
}
.tick{
  font-size: 10px;
}

tr{
  position: relative;

  td{
    position: relative;
  }

  span.fa{
    position:absolute;
    top: 8.5px;
    left: -5px;
    cursor: pointer;

    &:hover, &:focus{
      color: darken(red, 15%);
    }
  }
}

.chart-selector{
  margin-top: 75px;
}
.chart-anchor{
  // max-height: 150px;
}

.text-values{
  // font-family: 'Montserrat', sans-serif !important;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
}

// .transform-upward{
//   -ms-transform: translate(5,5); /* IE 9 */
//   -webkit-transform: translate(5,5); /* Chrome, Safari, Opera */
//   transform: translate(5,5);
//   font-family: 'Montserrat', sans-serif !important;
//   font-size: 10px;
//   font-weight: 700;
//   cursor: pointer;
// }
//
.tab-content{
  padding-top: 75px;
  overflow: hidden;
  border-right: 1px solid #e7e7e7;
}

@media (min-width: 768px){
  .modal-dialog{
    width: 768px;
  }
}

.added-interventions{
  min-height: 100px;

  ul{
    li{
      font-size: 10px;
      .added-title{
        font-weight: bold;
      }
      .added-description{
        margin-right: 7.5px;
      }
      .added-dates{
        font-style: italic;
      }
      .fa-pencil{
        cursor: pointer;
      }
    }
  }
}

.submit-and-exit, .update-and-exit{
  margin-right: 35px;
  margin-top: 25px;
}

form#intervention-data, form#edit-intervention-data{
  button.btn-danger.pull-right{
    margin-top: 25px;
    margin-right: 35px;
  }
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

// .line.above {
//   // stroke: #f00;
//   stroke-dasharray: 3, 3;
//   stroke-width: 1px;
// }

.fadeOut#intervention-data{
  display: none;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.path {
  // fill: none;
  // stroke: #000;
  // stroke-width: 1.5px;
}

.path--above {
  // stroke: #f00;
  // stroke-dasharray: 2,2;
}

// button#export {
//   position: absolute;
//   top: 10px;
//   right: 10px;
// }

.chart-gauge {
  width: 250px;
  float: right;
  margin-top: -250px;
  margin-right: 100px;
  // margin: 100px auto;
}

.chart-color5 {
  fill: #F02828;
}

.chart-color4 {
  fill: #FE6A00;
}

.chart-color3 {
  fill: #FFD800;
}

.chart-color2 {
  fill: #82E042;
}

.chart-color1 {
  fill: #089F50;
}

.needle,
.needle-center {
  fill: #464A4F;
}
// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;



  }
}
    .ui-widget-content .ui-state-focus {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
    .ui-helper-hidden-accessible{
      display: none;
    }

#dataOutput{
  display: none;
}

.btn-sumome {
  color: #ffffff;
  background-color: #00FF00;
  border-color: #51E800;
}

.btn-sumome:hover,
.btn-sumome:focus,
.btn-sumome:active,
.btn-sumome.active,
.open .dropdown-toggle.btn-sumome {
  color: #ffffff;
  background-color: #51E800;
  border-color: #51E800;
}

.btn-sumome:active,
.btn-sumome.active,
.open .dropdown-toggle.btn-sumome {
  background-image: none;
}

.btn-sumome.disabled,
.btn-sumome[disabled],
fieldset[disabled] .btn-sumome,
.btn-sumome.disabled:hover,
.btn-sumome[disabled]:hover,
fieldset[disabled] .btn-sumome:hover,
.btn-sumome.disabled:focus,
.btn-sumome[disabled]:focus,
fieldset[disabled] .btn-sumome:focus,
.btn-sumome.disabled:active,
.btn-sumome[disabled]:active,
fieldset[disabled] .btn-sumome:active,
.btn-sumome.disabled.active,
.btn-sumome[disabled].active,
fieldset[disabled] .btn-sumome.active {
  background-color: #00FF00;
  border-color: #51E800;
}

.btn-sumome .badge {
  color: #00FF00;
  background-color: #ffffff;
}

.btn-chart-selector{
  // border: 2px solid #51E800;
  display: block;
  padding: 25px;
  // min-height: 315px;
  margin-bottom: 25px;
  border-radius: 3px;

  &:hover{
    // background-color: #5AFF5A;
  }
}

:focus {
  outline: none;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
/*
    Sometimes the sub menus get too large for the page and prevent the menu from scrolling, limiting functionality
    A quick fix is to change .side-menu to

    -> position:absolute

    and uncomment the code below.
    You also need to uncomment

    -> <div class="absolute-wrapper"> </div> in the html file

    you also need to tweek the animation. Just uncomment the code in that section
    --------------------------------------------------------------------------------------------------------------------
    If you want to make it really neat i suggest you look into an alternative like http://areaaperta.com/nicescroll/
    This will allow the menu to say fixed on body scoll and scoll on the side bar if it get to large
*/
/*.absolute-wrapper{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}*/

.side-menu {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
  border: none;
}
.side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
  background-color: transparent;
  margin-right: -1px;
  border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
  padding: 15px;
}
.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}
.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
  float: right;
}
.side-menu #dropdown > a {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body {
  padding: 0;
  background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
  width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
  min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
}
.side-menu #search {
  position: relative;
  z-index: 1000;
}
.side-menu #search .panel-body {
  padding: 0;
}
.side-menu #search .panel-body .navbar-form {
  padding: 0;
  padding-right: 50px;
  width: 100%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative;
}
.side-menu #search .panel-body .navbar-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  background-color: #f3f3f3;
  padding: 15px 18px;
}
/* Main body section */
.side-body {
  padding-top: 60px;
  margin-left: 310px;
}
/* small screen */
@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
    border-bottom: 1px solid #e7e7e7;
  }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block;
  }
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: fixed;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Uncomment for scrollable menu -> see top comment */
  /*.absolute-wrapper{
        width:285px;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }*/
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  /* Slide side body*/
  .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .body-slide-in {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Hamburger */
  .navbar-toggle {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #f3f3f3;
  }
  /* Search */
  #search .panel-body .navbar-form {
    border-bottom: 0;
  }
  #search .panel-body .navbar-form .form-group {
    margin: 0;
  }
  .navbar-header {
    /* this is probably redundant */
    position: fixed;
    z-index: 3;
    background-color: #f8f8f8;
  }
  /* Dropdown tweek */
  #dropdown .panel-body .navbar-nav {
    margin: 0;
  }
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4);
}
