

/*

FONTS
 */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*

EXTERNAL LIBS

 */
@import "bootstrap-sprockets";
@import "bootswatch/yeti/variables";

$grid-gutter-width: 5px;

@import "bootstrap";
@import "font-awesome";
@import "bootswatch/yeti/bootswatch";
@import "animate";

/*

PROJECT SASS COMPONENTS

 */

@import "components";
@import "layout";
@import "auth";
@import "dashboard";
@import "users";
@import "charts";

td > input{
  border: none;
  background: transparent;
  outline: none !important;
}

#chart-print{
  width: 21cm;
}

.container.copy-paste{
  margin-bottom: 250px;
}

/*converter*/

#converter {
  max-width: 100%;
}


p.dataHeaders{
  height: 30px;
  padding: 15px 15px 10px;
}

.textInputs {
  border: none;
  font-size: 12px;
  min-height: 350px;
  line-height: 18px;
  padding: 10px;
}


.groupHeader{
  width: 100%;
  height: 45px;
}


p.groupHeadline {
  padding: 10px;
}
.groupHeader span.subhead {
  opacity: 0.7;
  font-size: 12px;
}

.groupHeader a {
  color: #FF66FF;
}


#outputGroup {

}

#dataInput {
  max-width: 100%;
}

#dataOutput {
  max-width: 100%;

}
#dataSelector {
  width: 200px;
  line-height: 22px;
  font-size: 16px;
  padding: 2px 0px;
}

#dataSelector option {

}

.activate-copy-paste{
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 15px;
}


.patient-name{
  text-decoration: underline;
}

#graph-container{
  padding-left: 50px;
}
.chart{
}

path{
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
}

.intervention-text{
  padding: 50px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
.tick{
  font-size: 10px;
}

.chart-selector{
  margin-top: 75px;
}
.chart-anchor{
  // max-height: 150px;
}

.text-values{
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
}

.tab-content{
  padding-top: 75px;
  overflow: hidden;
  border-right: 1px solid #e7e7e7;
}

@media (min-width: 768px){
  .modal-dialog{
    width: 768px;
  }
}

.added-interventions{
  min-height: 100px;

  ul{
    li{
      font-size: 10px;
      .added-title{
        font-weight: bold;
      }
      .added-description{
        margin-right: 7.5px;
      }
      .added-dates{
        font-style: italic;
      }
      .fa-pencil{
        cursor: pointer;
      }
    }
  }
}

.submit-and-exit, .update-and-exit{
  margin-right: 35px;
  margin-top: 25px;
}

form#intervention-data, form#edit-intervention-data{
  button.btn-danger.pull-right{
    margin-top: 25px;
    margin-right: 35px;
  }
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.fadeOut#intervention-data{
  display: none;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


.chart-gauge {
  width: 250px;
  float: right;
  margin-top: -250px;
  margin-right: 100px;
}

// .chart-color5 {
//   fill: #F02828;
// }

// .chart-color4 {
//   fill: #FE6A00;
// }

// .chart-color3 {
//   fill: #FFD800;
// }

// .chart-color2 {
//   fill: #82E042;
// }

// .chart-color1 {
//   fill: #089F50;
// }

// .needle,
// .needle-center {
//   fill: #464A4F;
// }


.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;



  }
}
    .ui-widget-content .ui-state-focus {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
    .ui-helper-hidden-accessible{
      display: none;
    }

#dataOutput{
  display: none;
}

.btn-sumome {
  color: #ffffff;
  background-color: #00FF00;
  border-color: #51E800;
}

.btn-sumome:hover,
.btn-sumome:focus,
.btn-sumome:active,
.btn-sumome.active,
.open .dropdown-toggle.btn-sumome {
  color: #ffffff;
  background-color: #51E800;
  border-color: #51E800;
}

.btn-sumome:active,
.btn-sumome.active,
.open .dropdown-toggle.btn-sumome {
  background-image: none;
}

.btn-sumome.disabled,
.btn-sumome[disabled],
fieldset[disabled] .btn-sumome,
.btn-sumome.disabled:hover,
.btn-sumome[disabled]:hover,
fieldset[disabled] .btn-sumome:hover,
.btn-sumome.disabled:focus,
.btn-sumome[disabled]:focus,
fieldset[disabled] .btn-sumome:focus,
.btn-sumome.disabled:active,
.btn-sumome[disabled]:active,
fieldset[disabled] .btn-sumome:active,
.btn-sumome.disabled.active,
.btn-sumome[disabled].active,
fieldset[disabled] .btn-sumome.active {
  background-color: #00FF00;
  border-color: #51E800;
}

.btn-sumome .badge {
  color: #00FF00;
  background-color: #ffffff;
}

.btn-chart-selector{
  // border: 2px solid #51E800;
  display: block;
  padding: 25px;
  // min-height: 315px;
  margin-bottom: 25px;
  border-radius: 3px;

  &:hover{
    // background-color: #5AFF5A;
  }
}

:focus {
  outline: none;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4);
}
