/*

NEW - NAMING

 */

.chart-multi-step{
  header{
    h1{
      font-family: "Open Sans" !important;
      text-transform: none;
      text-align: left;
      font-size: 20px;
      letter-spacing: 0;
      font-weight: 500;
      line-height: 20px;
    }
    hr{
      border-color: black;
      margin-bottom: 0px;
    }
  }
}

.chart-current-step{
  .naming-step{
    header{
      h1{
        font-family: "Open Sans" !important;
        text-transform: none;
        text-align: left;
        font-size: 12px;
        letter-spacing: 0;
        font-weight: 500;
        line-height: 20px;
      }
    }
  }
}
