.dashboard{
  .dashboard-section{

  }

  .dashboard-actions{
    a{
      margin-bottom: 5px;
    }
  }

  .patients{
    .my-patients{
      margin-top: 15px;

      a{
      }
    }

    .filter-widget{
      header{
        h1, h2{
          font-family: "Open Sans" !important;
          text-transform: none;
          text-align: left;
          font-size: 12px;
          letter-spacing: 0;
          font-weight: 600;
          line-height: 20px;
          margin: 5px auto;
        }
      }
      hr{
        border-color: #f6f6f6;
        margin-top: 10px;
        // margin-bottom: 10px;
      }

      .bootstrap-select{
        display: block;
        margin: 15px auto;
        width: 100% !important;
      }
      .checkbox{
        margin: 2.5px auto;
      }
    }
  }

  .notifications{
    &.empty{
      margin: 10px auto;

      .notification-subject{
        margin-left: 0px !important;
      }
    }

    .notification-actions{
      a{
        @extend .btn-link;
        font-weight: 600;
        font-size: 10px;
      }
    }
    .notification{
      position: relative;
      hr{
        margin-bottom: 10px;
        margin-top: 10px;
      }
      .fa{
        position: absolute;
        top: 30px;
        left: 2.5px;
        color: #CEC6BF;
      }

      .notification-subject{
        margin-left: 45px;
        font-size: 12px;
        font-weight: 600;
        display: block;
      }

      .notification-created-at{
        margin-left: 45px;
        font-size: 10px;
        color: #CECECE;
        font-weight: 600;
      }
    }
  }

  .messages{

    &.empty{
      margin: 25px auto;

      .message-subject{
        margin-left: 15px !important;
      }
    }

    .message-actions{
      a{
        @extend .btn-link;
        font-weight: 600;
        font-size: 10px;
      }
    }
    .message{
      position: relative;
      hr{
        margin-bottom: 10px;
        margin-top: 10px;
      }
      .fa{
        position: absolute;
        top: 30px;
        left: 2.5px;
        color: #CEC6BF;
      }

      .message-subject{
        margin-left: 45px;
        font-size: 12px;
        font-weight: 600;
        display: block;
      }

      .message-created-at{
        margin-left: 45px;
        font-size: 10px;
        color: #CECECE;
        font-weight: 600;
      }
    }
  }
}
