/*

USER - INDEX

 */

.patients{
  .my-patients{
    overflow-y: scroll;
    max-height: 438px;
  }

  .patient{
    padding: 7.5px 15px;

    img{
      display: inline;
      margin-right: 7.5px;
      max-height: 57.5px;
      width: 57.5px;
    }

    .patient-name{
      text-decoration: none;
      // color: #4A494C;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

/*

USER - SHOW

 */

.user-profile{
  h1{
    font-family: "Open Sans" !important;
    text-transform: none;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 500;
    line-height: 20px;
  }
  hr{
    border-color: black;
  }
  .user-info{
    // h1{
    //   font-family: "Open Sans";
    //   text-transform: none;
    //   text-align: left;
    // }
  }
  .user-charts{
    // h1{
    //   font-family: "Open Sans";
    //   text-transform: none;
    //   text-align: left;
    // }
  }
  .user-detail{
    font-weight: bold;
  }

  .user-avatar{
    padding: 10px;
  }
}
