/*

USER - INDEX

 */

.patients{
  .my-patients{
    overflow-y: scroll;
    max-height: 438px;
  }

  .patient{
    padding: 7.5px 15px;

    img{
      display: inline;
      margin-right: 7.5px;
      max-height: 57.5px;
      width: 57.5px;
    }

    .patient-name{
      text-decoration: none;
      // color: #4A494C;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

/*

USER - SHOW

 */

.user-profile{
  h1{
    font-family: "Open Sans" !important;
    text-transform: none;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 500;
    line-height: 20px;
  }
  hr{
    border-color: black;
  }
  .user-info{
    // h1{
    //   font-family: "Open Sans";
    //   text-transform: none;
    //   text-align: left;
    // }
  }
  .user-charts{
    // h1{
    //   font-family: "Open Sans";
    //   text-transform: none;
    //   text-align: left;
    // }
  }
  .user-detail{
    font-weight: bold;
  }

  .user-avatar{
    padding: 10px;
  }

  .chart-with-patient-container{
    position: relative;

    section{
      position: absolute;
      background: white;
      left: 350px;
      z-index: 9;
      padding-top: 20px;
      width: 292px !important;
      top: -300px;
    }

    .fa-times{
      left: 627.5px;
      top: -298.5px;
      position: absolute;
      z-index: 999;
      cursor: pointer;
    }

    .triangle{
      position: absolute;
      z-index: 999;
      left: 316px;
      top: -7.5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 34.6px 20px 0;
      border-color: transparent #ffffff transparent transparent;
    }
  }
}

/*

USER SETTINGS

 */

.user-dropdown{
  .bootstrap-select{
    display: block;
    margin: 15px auto;
    width: 100% !important;
    text-align: center;
  }
  header{
    h1, h2{
      font-family: "Open Sans" !important;
      text-transform: none;
      text-align: left;
      font-size: 12px;
      letter-spacing: 0;
      font-weight: 600;
      line-height: 20px;
      margin: 5px auto;
    }
  }
  hr{
    border-color: #f6f6f6;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  form{
    label{
      line-height: 3.25;
      color: black;
      font-weight: 500;
      margin-right: 15px;
    }
    .form-control{
      color: white;
    }
    input, select{
      margin: 15px auto;
      background-color: #D8D1CB;

        @include placeholder {
          color: white;
        }
    }
  }
}
