<!DOCTYPE html>
<html>
<head>
  <title>PM - DEV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>

  function createRow(index){
    // console.log(row.replace('index', parseInt(index)+1))
    return '<tr><td>'+(parseInt(index)+1)+'</td><td><input type="date" name="entry[date['+(parseInt(index)+1)+']]"></td><td><input type="text" name="entry[ldl['+(parseInt(index)+1)+']]"></td><td><input type="text" name="entry[hdl['+(parseInt(index)+1)+']]"></td><td><input type="text" name="entry[triglycerides['+(parseInt(index)+1)+']]"></td><td><input type="text" name="entry[cholesterol['+(parseInt(index)+1)+']]"></td></tr>';
  }
  $('button.random').on('click', function(e){
    e.preventDefault();
    $('div.manual-input table.cholesterol-data input[type=text]').each(function(k,v){
      $(this).val(1 + Math.floor(Math.random() * 150));
    });
    $('div.manual-input table.cholesterol-data input[type=date]').each(function(k,v){
      $(this).val((2010+k).toString() + '-' +'01' + '-' +'01');
    });
  });
  $('div.manual-input button.add-row').on('click', function(e){
    e.preventDefault();
    var currentIndex = $('div.manual-input table.cholesterol-data tr:last td:first').text();
    $('div.manual-input table.cholesterol-data tbody').append(createRow(currentIndex));
  });
  $('div.copy-paste-input button.add-row').on('click', function(e){
    e.preventDefault();
    var currentIndex = $('div.copy-paste-input table.copy-paste-data tr:last td:first').text();
    $('div.copy-paste-input table.copy-paste-data tbody').append(createRow(currentIndex));
  });
  $('button.activate-copy-paste').on('click', function(e){
    e.preventDefault();
    $('.manual-input, .copy-paste-input, .manual-mode, .copy-paste-mode').toggleClass('hide');
    $('#dataInput').focus();
  });
  $('button.start-over').on('click', function(e){
    e.preventDefault();
    $('.start-over-mode, .manual-input, .copy-paste-input, .copy-paste-mode').toggleClass('hide');
    $('div.manual-input table.cholesterol-data').removeClass('hide');
    $('div.manual-input table.cholesterol-data input').val('').attr("placeholder", '').find("tr:gt(4)").remove();;
  });

  // $('input[type=date].pasted').each(function(k,v){
  //   var date = $(this).attr("placeholder");
  //   $(this).val(date);
  // });
  $('.session-entry-values').each(function(k,v){
    var value = $(this).attr("placeholder");
    $(this).val(value);
  });
</script>
</body>
</html>
